body{
    color: #333;
    font-family: 'Apple Braille', sans-serif;
    font-size: 16px;
    margin: 0;
    overflow-x: hidden;
}
.homeMain{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeMain h2{
    padding: 20px;
    background: #fff;
}
.profileMain{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.profileMain > p{
    position: absolute;
    font-size: 450px;
    transform: rotate(-20deg);
    color: #F9F9F9;
    z-index: -1;
}
.profileMain div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.profileMain div:first-child{
    margin-bottom: 40px;
}

.projectMain{
    margin-top: 200px;
}
.projectTitle{
    width: 300px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    transition: all .5s;
    /* box-shadow: 0px 0px 8px 0px #00000020; */
}
.projectTitle:hover{
    box-shadow:  0px 4px 4px 0px #00000020;
    transform: scale(1.02);
}