.ProfileTitle{
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 60px;

    div{
        width: 50%;

        h2{
            font-size: 36px;
            position: relative;
            color: #4e4e4e;

            &::before{
                content: "Name";
                position: absolute;
                top: -30px;
                left: -50px;
                font-size: 75px;
                color: #F6F6F6;
                z-index: -1;
            }
        }
    }
}

.projectsStory{
    width: 80%;
    margin: 80px auto 0;
    position: relative;

    &::before{
        content: "Story";
        position: absolute;
        font-size: 450px;
        transform: rotate(-0deg);
        color: #F9F9F9;
        z-index: -1;
        animation: Story 8s infinite;
    }
    @keyframes Story{
        0%{
            transform: rotate(-8deg) translateX(100%);
        }
        100%{
            transform: rotate(-8deg) translateX(-100%);
        }
    }
        h3{
        font-size: 28px;
        position: relative;
        color: #4e4e4e;

        &::before{
            content: "Story";
            position: absolute;
            top: -30px;
            left: -40px;
            font-size: 65px;
            color: #F6F6F6;
            z-index: -1;
        }
    }
    h4{
        font-size: 20px;
        color: #4e4e4e;
        margin: 26px 0 0;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            width: 10px;
            height: 20px;
            background-color: #D9D9D9;
            top: 5px;
            left: -16px;
        }
    }
    div{
        width: 900px;
        height: 640px;
        border-radius: 15px;
        margin: 84px auto 0;
        background: #F7F7F7;
        display: flex;
        justify-content: center;
        align-items: center;

        &:last-child{
            width: 100%;
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
        }
    }
    button{
        width: 185px;
        height: 65px;
        font-size: 28px;
        border: none;
        background: #D9D9D9;
        color: #fff;
        border-radius: 5px;
        position: relative;

        &:hover{
            background: #C4C4C4;
        }
        &::after{
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            top: 32px;
            right: 10%;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: translateY(-50%) rotate(45deg);
        }
    }
}

.projectsSkill{
    width: 80%;
    margin: 160px auto 0;

    h3{
        font-size: 28px;
        position: relative;
        color: #4e4e4e;

        &::before{
            content: "Skill";
            position: absolute;
            top: -30px;
            left: -40px;
            font-size: 65px;
            color: #F6F6F6;
            z-index: -1;
        }
    }
    .projectsIcon{
        width: 100%;
        display: flex;
        justify-content: space-around;

        svg{
            width: 50px;
            height: 50px;
        }
    }
}
